<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{url_for('static',filename='error.css')}}">
</head>
<body>
    <img src="sorry.png" alt="">
    <h1>Sorry movie not found !</h1>
   

    <ul>

        <li> Go To Home Page <a href="/"><button>Press Here</button></a></li>
        <li>Go To Recommander Page <a href="/recommand"><button>Press Here</button></a></li>

    </ul>



</body>
</html>